<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<header th:fragment="navigation">
	<nav class="main-nav">
		<ul sec:authorize="isAnonymous()">
			<li><a th:href="@{/}">Home</a></li>
			<li><a th:href="@{/auth/login}">Login</a></li>
			<li><a th:href="@{/auth/register}">Register</a></li>
			<li><a th:href="@{/about}">About</a></li>
		</ul>
		<ul sec:authorize="isAuthenticated()">
			<li><a th:href="@{/routes/add}">Add new route</a></li>
			<li><a th:href="@{/users/profile}">Profile</a></li>
			<li sec:authorize="hasRole('ADMIN')"><a href="/">Admin</a></li>
			<li><form th:action="@{/auth/logout}" method="POST">
					<button type="submit">Log out</button>
				</form></li>
		</ul>
	</nav>
</header>